*{
    padding : 0;
    margin : 0;
}

/****************** SECTIONS ************************/
#slide1 {
	background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
    /*max-width: 100%;*/
}

#slide2 {
	/*background: url(../img/slide2-bg.jpg) center 0 no-repeat fixed;*/
    background: mistyrose;
    height: 500px;
}

#slide3 {
	background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
    height : 950px;
}

#slide1  .slide_inside {
	text-align:center;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	/*margin-top:50px;*/
	padding:50px;
}
/****************** FIN SECTIONS ************************/
/********************** LOGO ************************/
#logo{
    width: 25%;
}
/********************* FIN LOGO *******************/

/********************* NAV ************************/
nav{
    background: ORCHID;
    position: fixed;
    width: 100%;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    }
    nav a{
        text-decoration: none;
        padding: 30px 10px;
        color: white;
    }
    .listeNav{
        line-height: 43px;
        padding-top: 25px;
        padding-right: 60px;
    }
    





/********************* FIN NAV ************************/
/********************* DEBUT TITRE *******************/
h1{
    padding-top: 25%;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2px;
}
/********************* FIN TITRE *******************/
