*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
body {
    font-family: 'Francois One', sans-serif;
}


/****************** SECTIONS ************************/
#slide1 {
	background:url(../img/slide1-bg.jpg) center 0 no-repeat fixed;
    /*background-size: cover;*/
    /*max-width: 100%;*/
}

#slide2 {
	/*background: url(../img/slide2-bg.jpg) center 0 no-repeat fixed;*/
    background: #1B1B1B;
    height: 500px;
    /*background-size: cover;*/
}

#slide3 {
	background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
    /*background-size: cover;*/
}
#slide4 {
    background: #1B1B1B;
    height: 500px;
    /*background-size: cover;*/
}
#slide5 {
	background:url(../img/slide11-bg.jpg) center 0 no-repeat fixed;
    /*background-size: cover;*/
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
    height : 950px;
}

#slide1  .slide_inside {
	text-align:center;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}
#slide2 .slide_inside h2{
    padding-top : 8%;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}
#slide3 .slide_inside h2{
    padding: 8%;
}
#slide4 .slide_inside h2{
    padding: 8%;
}
#slide5 .slide_inside h2{
    padding: 8%;
}

/****************** FIN SECTIONS ************************/
/********************** LOGO ************************/
#logo{
    width: 25%;
}
/********************* FIN LOGO *******************/
/********************* DEBUT TITRE *******************/
h1{
    padding-top: 28%;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4em;
}
h2{
    padding-top: 2%;
    color: lightgray;
    text-align: center;
    font-size: 2em;
}
h3{
    color: #1B1B1B;
    text-align: center;
    font-size: 1.2em;
    padding-top: 5%;
}
/********************* FIN TITRE *******************/

/********************* NAV ************************/
nav{
    background: mistyrose;
    position: fixed;
    width: 100%;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
    }
    .navigation{
        line-height: 43px;
        padding-right: 40px;
        padding-top: 20px;
    }

    .navigation > a {
      padding: 2rem 0.5rem;
      color: black;
      text-decoration: none;
    }
    .navigation > a:hover,
    .navigation > a:focus,
    .navigation > a:active{
      color: #555;
    }

    .nav-button {
      display: none; /* no button by default */
      position: absolute;
      top: 1.1rem;
      right: 1rem;
      z-index: 1; /* will be above everything */
      height: 2.4rem;
      width: 2.8rem;
      background-color: transparent;
      background-image: linear-gradient(to right, currentColor, currentColor);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      padding: 0;
      outline: 0;
      border: 0;
      color: mistyrose;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }

    /*barre du haut et du bas du bouton*/
    .nav-button::before,
    .nav-button::after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      display: block;
      height: 5px;
      background: currentColor;
      transition: .25s;
      transition-property: transform, top;
      will-change: transform, top;
    }
    .nav-button::before {
      top: 0;
    }
    .nav-button::after {
      top: calc(100% - 4px);
    }



/********************* FIN NAV ************************/

/********************* DEBUT TYPE *********************/
.blinking-cursor {
    font-weight: 500;
    margin-left: 4px;
    font-size: 20px;
    color: white !important;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
#holder{
    color: #17202A;
    font-size: 2.5em;
    text-shadow: 2px 1px 4px rgba(150, 150, 150, 1);
    background-color: mistyrose;
    padding: 0 15px;
}
/********************* FIN TYPE *********************/
/********************* PAGE COMPETENCE **************/
.conteneur{
    width: 100%;
    /*border: 1px solid white;*/
    height: 300px;
}
.competence{
    width: 30%;
    /*border: 1px solid red;*/
    height: 250px;
    float: left;
    margin: 0 15px;
}
.icone_competence{
    /*border: 1px solid green;*/
    width: 70%;
    height: 50px;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    }
    .icone_competence span{
        color: mistyrose;
        font-size: 200%;
    }

.texte_competence{
    /*border: 1px solid blue;*/
    width: 70%;
    margin: 0 auto;
    height: 150px;
    background-color: mistyrose;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.64);
    }
    .texte_competence ul{
        list-style: none;
        text-align: center;
        color: #1B1B1B;
        margin-top: 9%;
    }
    .texte_competence ul li{

    }
/*********************FIN  PAGE COMPETENCE **************/

/*********************DEBUT PAGE REALISATIONS  **************/
.polaroid-images a
{
        background: white;
        display: inline;
        float: left;
        margin: 0 30px 30px;
        padding: 10px 10px 45px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
        box-shadow: 0 4px 6px rgba(0,0,0,.3);
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        transition: all .15s linear;
        z-index:0;
}
.polaroid-images img {
        display: block;
        width: inherit;
}
.polaroid-images a:hover{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        z-index:10;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
        -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
/*********************FIN PAGE REALISATIONS  **************/

/********************* DEBUT PAGE CONTACT **************/
.contact{
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    border-radius: 1%;
}
.info{
    /*background: pink;*/
    width: 50%;
    float: left;
    color: white;
}
.form-container{
    width: 50%;
    float: left;
    /*background: lightblue;*/
    }
    .form-container input{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 1em;
        margin: 2%;
        margin-left: 15%;
        border-bottom: 2px solid black;
        width: 66%;
    }
    .form-container input::placeholder, textarea::placeholder{
        color: white;
    }
    .form-container textarea{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 1em;
        margin: 2%;
        margin-left: 15%;
    }
    .form-container #nom{
        margin-top: 8%;
    }

/********************* FIN PAGE CONTACT **************/

/********************* RESPONSIVE *******************/
@media screen and (max-width: 992px){
    main{
        width: 100%;
    }
    #slide1, #slide2, #slide3, #slide4, #slide5{
        width: 100%;
    }
    /*h1{
        padding-top: 14%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 3em;
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }*/
    .typed{
        width: 98%;
    }

}
@media screen and (max-width: 570px) {

    main{
        width: 100%;
    }
  .js-enabled html,
  .js-enabled body {
    overflow-x: hidden;
  }
  .js-enabled .nav-button {
    display: inline-block;
  }
  .js-enabled .navigation {
    position: absolute;
    width: 60vw;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  /* styling opened nav */
  .js-enabled .navigation {
    transition: transform .25s; /* vitesse d'ouverture*/
    will-change: transform;
    transform: translateX(-100%); /* pour rabattre */
  }
  .js-enabled .navigation.is-opened {
    transform: translateX(0);
  }
  .navigation{
      padding-right: 0;

  }
  .navigation>a{
      display: block;
      padding: 0;
      text-align: center;
      border-bottom: 1px solid black;
  }
  .navigation>a:hover{
      background-color : lightgray;
  }
  #slide1, #slide2, #slide3{
      width: 100%;
  }
  #slide1{
      height: 300px;
  }
  h1{
      font-size: 1.5em;
      width: 20%;
      text-shadow: 3px 1px 1px rgba(150, 150, 150, 1);
      padding-top: 1%;
      text-align: center;
  }

  #holder{
      font-size: 1.3em;
      text-align: justify;
  }
  .typed{
      width: 40%;
      /*padding-left: 20vw;*/
  }
  /******* RESPONSIVE PAGE COMPETENCE ***********/
  .competence{
      clear: both;
      height: 200px;
  }
  #slide2{
      height: 700px;
  }
  #slide2 .slide_inside h2{
      font-size: 1.5em;
      width: 20%;
      padding-top: 1%;
  }

  /******* FIN RESPONSIVE PAGE COMPETENCE ***********/

    /******* RESPONSIVE PAGE REALISATIONS ***********/
    /******* FIN RESPONSIVE PAGE REALISATIONS ***********/

} /* fin media query 545px*/
@media screen and (max-width: 370px){
    .typed{
        width: 25%;
    }
    main{
        width: 100%;
    }
    h1{
        font-size: 1.5em;
        width: 20%;
        text-shadow: 3px 1px 1px rgba(150, 150, 150, 1);
        padding-top: 1%;
        /*text-align: center;*/
    }
}
