/**{
    padding : 0;
    margin : 0;
    /*box-sizing: border-box;
}*/

/*html {
  font-size: 62.5%;
  font-size: calc(1em * .625);
}

body {
  margin: 0;
  font-size: 1.6em;
  font-family: arial, sans-serif;
}*/

/*.main {
  padding: 5rem 2rem;
  background: #fff;
}*/

/****************** SECTIONS ************************/
#slide1 {
	background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
    /*background-size: cover;*/
    /*max-width: 100%;*/
}

#slide2 {
	/*background: url(../img/slide2-bg.jpg) center 0 no-repeat fixed;*/
    background: mistyrose;
    height: 500px;
    /*background-size: cover;*/
}

#slide3 {
	background:url(../img/slide3-bg.jpg) center 0 no-repeat fixed;
    /*background-size: cover;*/
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
    height : 950px;
}

#slide1  .slide_inside {
	text-align:center;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	/*margin-top:50px;*/
	padding:50px;
    /*background-size: cover;*/
}
/****************** FIN SECTIONS ************************/
/********************** LOGO ************************/
#logo{
    width: 25%;
}
/********************* FIN LOGO *******************/

/********************* NAV ************************/
nav{
    background: mistyrose;
    position: fixed;
    width: 100%;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.75);
    }
    nav a{
        text-decoration: none;
        padding: 30px 10px;
        color: black;
    }
    /*.navigation{
        line-height: 43px;
        padding-top: 25px;
        padding-right: 60px;
    }

    .navigation > a {
      /*padding: 2rem 1rem;*/
      /*background: #333;*/
      /*text-decoration: none;
    }*/
    /*.navigation > a:hover,
    .navigation > a:focus,
    .navigation > a:active {
      background: #555;
    }*/

    /*.nav-button {
      display: none; /* no button by default */
     /* position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 1; /* will be above everything */
     /* height: 2.4rem;
      width: 2.8rem;
      background-color: transparent;
      background-image: linear-gradient(to right, currentColor, currentColor);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      padding: 0;
      outline: 0;
      border: 0;
      color: pink;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }*/
    /*.nav-button::before,
    .nav-button::after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      display: block;
      height: 5px;
      background: currentColor;
      transition: .25s;
      transition-property: transform, top;
      will-change: transform, top;
    }
    .nav-button::before {
      top: 0;
    }
    .nav-button::after {
      top: calc(100% - 4px);
    }*/


    /*@media (max-width: 545px) {
      .js-enabled html,
      .js-enabled body {
        overflow-x: hidden;
      }
      .js-enabled .nav-button {
        display: inline-block;
      }
      .js-enabled .navigation {
        position: absolute;
        width: 60vw;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
      }

      /* styling opened nav */
      /*.js-enabled .navigation {
        transition: transform .25s;
        will-change: transform;
        transform: translateX(-100%);
      }
      .js-enabled .navigation.is-opened {
        transform: translateX(0);
      }
    }*/







/********************* FIN NAV ************************/
/********************* DEBUT TITRE *******************/
h1{
    padding-top: 28%;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2px;
    font-size: 3em;
}
/********************* FIN TITRE *******************/
