/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url(../img/bg.jpg) repeat;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #CD5C5C;
  color: #803939;
}
*{
    margin: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  color: #803939;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#profil{
    width: 100%;
}

#connexion{
    padding: 30px;
}
.couleur{
    background-color: #E78080;
    border-color: #E78080;
    }
    .navbar-inverse .navbar-nav>li>a{
        color: #FFF;
    }
    .navbar-inverse .navbar-brand {
    color: #803939;
    }
